.pagination{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    justify-content: center;
    gap:20px;
    padding-bottom: 10px;
}

.pagination li{
    display: inline;
    height: 30px;
    width: 30px;
    border: 1px solid black;
    border-radius: 3px;

}

.pagination li.active{
    background-color: black;
    color: white;
}
.page-link{
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.page-link:hover{
    color:#f39c12;
}

